*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    min-width: 375px;
    height: 1049px;
}

h1{
    font-family: 'PT Serif', serif;
    min-width: 300px;
    font-size: 2.4rem;
    margin-top: 40px;
    padding-left: 20px;
}

h2{
    font-size: 1.8rem;
    min-width: 100px;
    margin-top: 20px;
    padding-left: 20px;
}

.little-title > p{
    padding-left: 20px;
    margin-top: 20px;
    font-size: 1.4rem;
    min-width: 300px;
}


.bill{
    background: url(photo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    top: 250px;
    left: 15px;
}

.bill-name, .saba-name, .skylah-name, .griff-name, .shae-name, .stan-name{
    position: absolute;
    top: 210px;
}

.job{
    transform: rotate(90deg);
}

.name{
    font-weight: 600;
}

.bill-job, .saba-job, .skylah-job, .griff-job, .shae-job, .stan-job{
    position: absolute;
    top: 43px;
    left: 100px;
    width: 100px;
}


.saba{
    background: url(photo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    left: 20rem;
    top: 30rem;
}



.shae{
    background: url(photo3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    top: 500px;
    left: 15px;
}



.skylah{
    background: url(photo4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    left: 200px;
    top: 550px;
}



.griff{
    background: url(photo5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    left: 15px;
    top: 750px;
}


.stan{
    background: url(photo6.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 138px;
    height: 261px;
    position: absolute;
    left: 200px;
    top: 800px;
}


footer{
    position: absolute;
    left: 50%;
    bottom: -40%;
}



/*400*/

@media only screen and (max-device-width: 600px) and (min-device-width: 400px){

    .bill{
        min-width: 20%;
        height: 55%;
        left: 10%;
    }

   

    .saba{
        top: 280px;
        min-width: 20%;
        height: 55%;
        left: 50%;
    }

    .shae{
        min-width: 20%;
        height: 55%;
        left: 10%;
    }

    .skylah{
        min-width: 20%;
        height: 55%;
        top: 520px;
        left: 50%;
    }

    .stan{
        min-width: 20%;
        height: 55%;
        top: 750px;
        left: 50%;
    }

    .griff{
        min-width: 20%;
        height: 55%;
        top: 730px;
        left: 10%;
    }

   
     
}


@media only screen and (max-device-width: 900px) and (min-device-width: 600px){

    h1{
        margin-left: 5%;
    }

    .little-title{
        margin-top: -50px;
        margin-left: 50%;
    }
   
    .bill{
        min-width: 200px;
        height: 682px;
        left: 5%;  
    }
    
    .shae{
        min-width: 200px;
        height: 682px;
        top: 260px;
        left: 75%;
    }

    .saba{
        min-width: 200px;
        height: 682px;
        left: 40%;
        top: 270px;
    }

    .griff{
        min-width: 200px;
        height: 500px;
        left: 40%;
        top: 650px;
    }

    .skylah{
        min-width: 200px;
        height: 500px;
        top: 600px;
        left: 5%;
    }

    .stan{
        min-width: 200px;
        height: 500px;
        left: 75%;
        top: 600px;
    }

    
    .bill-job, .griff-job, .skylah-job, .saba-job, .stan-job, .shae-job{
        left: 160px;
    }

    .bill-name, .griff-name, .skylah-name, .saba-name, .stan-name, .shae-name{
        margin-top: 80px;
    }
}
    


@media only screen and (max-device-width: 1700px) and (min-device-width: 900px){

    h1{
        margin-left: 18%;
    }

    .little-title{
        margin-top: -50px;
        margin-left: 50%;
    }

    .bill{
        min-width: 200px;
        height: 682px;
        top: 200px;
        left: 20%;  
    }
    
    .shae{
        min-width: 200px;
        height: 682px;
        top: 200px;
        left: 70%;
    }

    .saba{
        min-width: 200px;
        height: 682px;
        left: 45%;
        top: 250px;
    }

    .griff{
        min-width: 200px;
        height: 500px;
        left: 45%;
        top: 600px;
    }

    .skylah{
        min-width: 200px;
        height: 500px;
        top: 550px;
        left: 20%;
    }

    .stan{
        min-width: 200px;
        height: 500px;
        left: 70%;
        top: 550px;
    }



    .bill-job, .griff-job, .skylah-job, .saba-job, .stan-job, .shae-job{
        left: 160px;
    }

    .bill-name, .griff-name, .skylah-name, .saba-name, .stan-name, .shae-name{
        margin-top: 80px;
    }
}
    

  
  